    <link rel="stylesheet" href="/css/user_profile.css">
     <div id="userTag"><h1>Codeial/Profile Page HELLO</h1></div>
     
     <% if(user.id==profile_user.id){%>
        <form action="/users/update/<%=profile_user.id%>" method="POST">
         <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>"required>
         <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>"required>
         <input type="submit" value="Update">
        </form>
        <%}else{%>
            <div id="userInfo">
            <p>Name:<%=profile_user.name%></p>
                <p>Email:<%=profile_user.email%></p>
                   </div>
            <%}%>
            <!-- div was defined as userInfo check kar lo ! -->
     

    